/** Open Sans Condense **/
@font-face {
    font-family: 'Open Sans Condensed';
    src: url("../Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

/* Open Sans Roboto*/
@font-face {
    font-family: 'Roboto Condensed';
    src: url("../Open_Sans/OpenSans-Regular.ttf");
    font-weight: 300;
    font-style: normal;
}

/** Root Body Container**/
:root {
    --gold: #FAD02C;
    --grey: #C9C9C9;
    --purple: #A239EA;
    --dark-purple: #371040;
    --purpleish:  #0e0d12;
    --purple-black:#09080b;
    font-family: 'Roboto Condensed';

    /* Alternate */
    --black: #222831;
    --dark-grey: #393E46;
    --teal: #00ADB5;
    --light-grey: #EEEEEE;

    --primary: var(var(--black));
    --secondary: var(var(--dark-grey));
    --third: var(var(--teal));
    --fourth: var(var(--light-grey));

    color: var(--fourth);
    background-color: var(--primary) ;
}

a {
    text-decoration: none;
    color: inherit;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    /* font-family: 'Roboto Condensed'; */
}

a:hover {
    color: var(--gold); 
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

::placeholder {
    font-style: italic;
}

body {
    font-size: 14px;
    background-color: #222831;
    background: rgb(26,18,38);
    background: linear-gradient(90deg, rgba(26,18,38,1) 0%, rgba(4,12,36,1) 50%, rgba(23,31,48,1) 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #EEEEEE;
    height: 100vh;
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#main-container {
    max-width: 1170px;
    height: 100vh;
    margin: auto;
}

.uppercase {
    text-transform: uppercase;
}

.highlight {
    font-family: 'Open Sans Condensed';
    color: var(--gold);
}

p {
    color: #EEEEEE;
}

.btn {
    background: none;
    border-radius: 0.25rem;
}

.large-body {
    font-size: 2rem;
}

.gold {
    color: var(--gold)
}

/* ======================
Header navigation section 
========================*/
header {
    margin: auto;
    max-width: 1170px;
    padding: 0;
    margin-bottom: 1rem;
}


#header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__links li {
    list-style-type: none;
    display: inline;
    margin: 0.5rem;
    color: var(--grey)
}

.logo {
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 4rem;
    color: var(--gold);
    margin-right: auto;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}



/* ===========
Footer section 
============ */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 4rem;
    margin-top: 4rem;
}

footer nav {
    width: 25%;
    text-align: left;
}

footer nav ul {
    list-style-type: none;
}

.footer-nav-title {
    font-weight: normal;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

footer ul li {
    font-size: 1rem;
    color: var(--grey);
    padding: 0.25rem;
}

hr {
    margin: 3rem 0rem;
    opacity: 50%;
    background-color: var(--purpleish)
}