/* ==================
Movie Booking Details
====================*/
#movie-booking-details {
    display: flex;
    padding: 20px;
}

.movie-poster-thumbnail {
    max-width: 200px;
    margin-right: 20px
}

.movie-booking-information {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.movie-booking-information * {
    margin-top: 0.5rem;
}

.movie-booking-information .highlight{
    font-size: 2rem;
}
.movie-booking-information .movie-title{
    font-size: 1.2rem;
    font-weight: 100;
}

.location-theatre, .date-time {
    color: var(--grey)
}

#booking-btn-section {
    margin-top: auto;
}

.change-btn {
    border: 1px solid var(--grey);
    color: var(--grey);
    height: 3rem;
    width: 6rem;
    margin: 0rem 1rem;
    opacity: 75%;
    cursor: pointer;
}

.change-btn:hover, .change-btn:active, .change-btn:focus {
    border: 1px solid white;
    background-color: #212121 ;
    color: white;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

/* ============
Tickets Details
===============*/
#tickets {
    display:flex;
    flex-direction: row;
    font-size: 1.25rem;
    padding: 1rem;
    width: 50%;
    margin: auto;
}
#tickets span:nth-child(2) {
    margin-left: auto;
    margin-right: 1rem;
}

/* ============
Payment Details
===============*/
.white {
    color: white;
}


#payment {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
    margin: auto;
    font-size: 1rem;
}

#payment span:nth-child(1) {
    font-size: 1.25rem;
}

#payment input {
    padding: 1rem;
    color: var(--grey);
    background: none;
    border: 1px solid var(--purple);
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    font-size: 1.25rem
}

#payment form{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    color: var(--grey)
}

#payment form:nth-child(1) {
    color: white;
    border: 1px solid red;
}

/* #payment .round {
    width: 2rem;
    border-radius: 50%;
    background-color: wheat;
} */

/* .checkmark {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: red;
} */

#tnc-btn {
    padding: 1rem;
    background: none;
    color: var(--grey);
    border: 1px solid var(--purple);
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    font-size: 1.25rem
}

#submit-button{
    padding: 1rem;
    color: white;
    background: none;
    border: 1px solid var(--purple);
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    font-size: 1.25rem
}

#submit-button:hover {
    transition: ease-in;
    transition-duration: 200ms;
    background-color: var(--dark-purple);
}

label[for='tnc'] {
    margin-top: 3rem;
    color: white
}