#thank-you-image {
    height: 12rem;
    width: 12rem;
}

main {
    height: calc(100vh - 340px - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
} 

main div:nth-child(4) {
    margin-top: 5rem;
}